<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Secret Santa des Rigaux 🎅{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
</head>

<body class="bg-gray-50 text-gray-900 min-h-screen w-full">
{% block body %}{% endblock %}


{# Alpine si tu veux encore le garder via CDN #}
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>
<style>
    body, a {
        cursor: url('{{ asset('images/tree.svg') }}') 10 10, auto;

    }
</style>
</html>
